@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --bg-color: #fff;
  --text-color: #333;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  .no-spin::-webkit-outer-spin-button,
  .no-spin::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

[data-theme='dark'] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --bg-color: #161625;
  --text-color: #fff;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  overflow: hidden;
}

.scrollbar {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(242 244 247 / 1) transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #5a5a5a;
  border-radius: 9999px;
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
