@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --bg-color: #fff;
  --text-color: #333;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme='dark'] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --bg-color: #161625;
  --text-color: #fff;
}

html {
  @apply bg-bg-color text-text-color;
  transition:
    color 0.5s,
    background-color 0.5s;
}
